<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1><%= title %> </h1>
  <form id="new-form" action="/events" method="POST">
    <label for="name">Event-Name</label>
    <input type="text" name="name">
    <label for="details">Details:</label>
    <input type="textarea" name="details">
    <label for="date">Date</label>
    <input type="datetime-local" name="date">
    <label for="location">Location</label>
    <input type="textarea" name="location">
    <button type="submit">Launch Event</button>
  </form>
</main>

<%- include('../partials/footer') %>