ul {
  margin: 0 0 16px;
  padding: 0;
  list-style: none;
}

li {
  font-weight: bold;
}

table {
  font-size: 20px;
}

table td {
  padding: 10px;
  text-align: center;
}

form * {
  padding: 5px;
  border-radius: 5px;
}

#interest-button{
  margin-left: 45px;
}
