<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1>Event-Planning</h1>
  <h2>INTRO</h2>
  <h3 id="spacing">Welcome to the Event-Planning website. Expand your social circle by creating your own events, from hiking too going to the movies! People can signup to attend your events and leave comments as well! Have Fun!</h3>
  <div id="socials"><strong>Please Join Our Communities!</strong></div>
  <div class="icons">
  <a href="https://www.facebook.com/groups/makefriendsaftercollege"><img src="../images/facebook.png" alt="" style="width:42px;height:42px;"/></a>
  <a href="https://www.meetup.com/Hey-Siri-How-Do-I-Make-New-Friends-After-College/"><img src="../images/meetup.png" alt="" style="width:42px;height:42px;"/></a>
  <a href="https://discord.gg/8Hw8DKjXqv"><img src="../images/discord.png" alt="" style="width:42px;height:42px;"/></a>
</div>
</main>

<%- include('./partials/footer') %>
