html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

body {
  background-color: #fff5ee;
  color: black;
  /* Use a system font, if none are available use any found sans-sarif font */
  font-family: system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 
    'Helvetica Neue', sans-serif;
  margin: 0;
}

nav {
  background-color: red;
  color: #1a1a1a;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  min-height: 60px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  margin-top: 100px;
  font-size: 36px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

h2 {
  font-size: 30px;
  margin-top: 30px;
  padding: 20px;
}

h3 {
  position:relative;
  width: 35%;
  height: 100%;
  font-size: 20px;
  text-align: center;
  border: solid black 2px;
  padding: 10px;
  font-family:monospace
}

#socials {
  height: -50%;
}

.icons {
  margin-bottom: 100px;
}

ul {
  list-style-type: none;
}

p, label, li, button, input {
  font-size: 18px;
}

label {
  font-weight: bold;
}

section {
  padding: 50px;
}

a {
  color: white;
}

pre {
  font-size: 14px;
}

nav > a {
  margin: 10px 30px;
  text-decoration: none;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#event {
  display: inline-block;
  padding: 0.1em 1em;
  box-sizing: border-box;
}

.btn {
  margin: 16px 0;
}

.link {
  padding: 10px 0;
  font-size: 18px;
  display: inline-block;
}

.profile-avatar {
  margin-top: 50px;
}

#add-event {
  color: black
}